@tailwind base;
@tailwind components;
@tailwind utilities;

.faded-dashed-border {
  position: relative;
  padding: 20px;
}

.faded-dashed-border::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px dashed #000;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    black 20%,
    black 80%,
    transparent
  );
  pointer-events: none;
}


